@font-face {
  font-family: "Emblafont-Regular";
  src: url(Emblafont-Regular.otf);
}

body {
  font-family: Emblafont-Regular;
  font-weight: bolder;
  color: #193f6a;
  background-color: #9abaa0;
  text-align: center;
}


#input {
  font-family: Emblafont-Regular;
  font-weight: bolder;
  text-transform: uppercase;
  color: #f8ebe1;
  font-size: 8vh;
  text-align: center;

  margin-top: 5vh;

  border: none;
  width: 22vh;
  background: transparent;

  /*border: none;
  width: 16vh;
  background: 
    repeating-linear-gradient(90deg,
      #f8ebe1 0,
      #f8ebe1 1ch,
      transparent 0,
      transparent 1.6ch)
    0 100%/100% 5px no-repeat;
  font: 5ch;
  letter-spacing: .5ch;*/
}
#input:focus {
  outline: none;
}

#input::placeholder {
  color:#f8ebe1;
  font-size: 5vh;
  opacity: 0.2;
}

.hide {
  display: none;
}

#speech-bubble {
  position: relative;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

#speech-bubble img {
  height: 25vh;
}

#speech-bubble p{
  position: absolute;
}

#speech-bubble-text {
  font-size: 4vh;
  text-transform: lowercase;
  width: 30vh;
}

#monster {
  position: relative;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#monster-illustration {
  height: 45vh;
}

#monster input {
  position: absolute;
} 

.button-wrapper {
  position: relative;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

#submit-button {
  height: 7vh;
  border: none;
  background-color: inherit;
  font-size: 7vh;
  font-family: Emblafont-Regular;
  font-weight: bolder;
  color: #193f6a;
  text-transform: uppercase;
}

#submit-button:hover {
  color: #064f94;
}